<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <a href="/trainers/create">Add New Trainer</a>
    <ul>
        <% for(var i = 0; i < list.length; i++) { %>
            <li>
                <%= `Id: ${list[i].id}\tFirst Name: ${list[i].firstName}\tLast Name: ${list[i].lastName}\tSubject: ${list[i].subject} ` %>&nbsp;
                <a href="/trainers/edit/<%= list[i].id %>">Edit</a>
                <a href="/trainers/delete?id=<%= list[i].id %>">Delete</a>
            </li>
        <% } %>
    </ul>
</body>
</html>